.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: #f2f4f3;
}

.header-title {
  font-family: 'Metal Mania';
  font-size: 60px;
  margin: 0;
}

.header-text {
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

.vanta-logo {
  height: 7rem;
  border-radius: 100%;
  border: 5px solid #3d3d3d8e;
}

.vanta-logo:hover {
  border: 5px solid rgb(236, 212, 1);
}