.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: #f2f4f3;
}

.header-title {
  font-family: 'Metal Mania';
  font-size: 60px;
  margin: 0;
}

.header-text {
  font-family: 'Play', sans-serif;
  font-size: 20px;
}