.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #f2f4f3;
  }
  
  .header-title {
    margin: 0;
  }
  
  .header-nav-container ul {
    list-style: none;
    padding: 0;
    color: #cacaca;
  }

  .nav-item:hover {
    color:#f2f4f3;
    cursor: pointer;
  }
  
  .header-nav-container li {
    display: inline-block;
    margin-right: 10px;
  }